@import './variable';
/** 重新定义按钮 **/
button {
  margin: 0;
}
/*主要按钮*/
button[type='primary'] {
  background-color: $color-primary;
}
button[disabled][type='primary'] {
  background-color: transparentize($color-primary,.2);
}
button[type='primary'][plain] {
  color: $color-primary;
  border-color: $color-primary;
}
.button-hover[type='primary'] {
  background-color: $color-primary-darken;
}
/*分享按钮*/
button[plain] {
  border: none;
}
button.pain-btn[open-type='share'] {
  background-color: transparent;
  line-height: normal;
  padding: 0;
  margin: 0;
}
button.pain-btn[open-type='share']::after {
  border: none;
}
